In [96]:
#araba_fiyati_regresyon.ipynb
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [97]:
#veriyi bir dataFrame e alalım
veri=pd.read_csv("Car details v3.csv")
veri.head(3)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0

In [98]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [99]:
# kaç farklı fuel kategorik ver türü var.
#unique
print(veri["fuel"].unique())
print(veri["transmission"].unique())
print(veri["owner"].unique())
print(veri["seller_type"].unique())

['Diesel' 'Petrol' 'LPG' 'CNG']
['Manual' 'Automatic']
['First Owner' 'Second Owner' 'Third Owner' 'Fourth & Above Owner'
 'Test Drive Car']
['Individual' 'Dealer' 'Trustmark Dealer']

In [100]:
veri_islem=veri.dropna(axis=0)
veri_islem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7906 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   seller_type    7906 non-null   object
 6   transmission   7906 non-null   object
 7   owner          7906 non-null   object
 8   mileage        7906 non-null   object
 9   engine         7906 non-null   object
 10  max_power      7906 non-null   object
 11  torque         7906 non-null   object
 12  seats          7906 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 864.7+ KB

In [101]:
veri_islem["age"]=2022-veri_islem["year"]
veri_islem.head()

/tmp/ipykernel_14544/507866719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_islem["age"]=2022-veri_islem["year"]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,age
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,8
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,8
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,16
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,12
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,15

In [102]:
veri_islem.head(3)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,age
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,8
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,8
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,16

In [103]:
# işimize yaramayacak name,year,seats,torque,engine sütunlarını yok edelim
veri_islem.drop(columns=["name","year","seats","torque","engine"],axis=1,inplace=True)
veri_islem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7906 entries, 0 to 8127
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   selling_price  7906 non-null   int64
 1   km_driven      7906 non-null   int64
 2   fuel           7906 non-null   object
 3   seller_type    7906 non-null   object
 4   transmission   7906 non-null   object
 5   owner          7906 non-null   object
 6   mileage        7906 non-null   object
 7   max_power      7906 non-null   object
 8   age            7906 non-null   int64
dtypes: int64(3), object(6)
memory usage: 617.7+ KB

/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [104]:
veri_islem.head(3)

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,max_power,age
0,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,74 bhp,8
1,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,103.52 bhp,8
2,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,78 bhp,16

In [105]:
veri_islem["mileage"] =veri_islem["mileage"].str.split(" ",expand=True)[0].astype(float)

/tmp/ipykernel_14544/811883581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_islem["mileage"] =veri_islem["mileage"].str.split(" ",expand=True)[0].astype(float)

In [106]:
veri_islem["max_power"] =veri_islem["max_power"].str.split(" ",expand=True)[0].astype(float)

/tmp/ipykernel_14544/655546406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_islem["max_power"] =veri_islem["max_power"].str.split(" ",expand=True)[0].astype(float)

In [107]:
veri_islem.head()
# veri_islem.info()

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,max_power,age
0,450000,145500,Diesel,Individual,Manual,First Owner,23.40,74.00,8
1,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,103.52,8
2,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,78.00,16
3,225000,127000,Diesel,Individual,Manual,First Owner,23.00,90.00,12
4,130000,120000,Petrol,Individual,Manual,First Owner,16.10,88.20,15

In [108]:
veri_islem["owner"].unique()
veri_islem["owner"].replace(to_replace=['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'],value=[1,2,3,4,5],inplace=True)

/usr/local/lib/python3.9/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [109]:
veri_islem["seller_type"].unique()
veri_islem["seller_type"].replace(to_replace=['Individual', 'Dealer', 'Trustmark Dealer'],value=[1,2,3],inplace=True)

In [110]:
veri_islem["fuel"].unique()
veri_islem["fuel"].replace(to_replace=['Diesel', 'Petrol', 'LPG', 'CNG'],value=[1,2,3,4],inplace=True)

In [111]:
veri_islem["transmission"].unique()
veri_islem["transmission"].replace(to_replace=['Manual', 'Automatic'],value=[1,2],inplace=True)

In [112]:
veri_islem.head(3)

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,max_power,age
0,450000,145500,1,1,1,1,23.40,74.00,8
1,370000,120000,1,1,1,2,21.14,103.52,8
2,158000,140000,2,1,1,3,17.70,78.00,16

In [113]:
# veriyi eğitim ve test verisi olarak 2 x ve y değerine ayırdık.
from sklearn.model_selection import train_test_split
X = veri_islem.iloc[:,1:9].values
y = veri_islem.iloc[:,0].values.reshape(-1,1)
x_egitim,x_test,y_egitim,y_test=train_test_split(X,y,test_size=0.2)

In [114]:
model=LinearRegression()
model.fit(x_egitim,y_egitim)

LinearRegression()

In [115]:
model.score(x_test,y_test)

0.650966181811961

In [116]:
from joblib import dump,load

In [117]:
dump(model,"araba_fiyat_regresyon.joblib")

['araba_fiyat_regresyon.joblib']

In [118]:
model2=load("araba_fiyat_regresyon.joblib")