In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [2]:
veri=pd.read_csv("olimpiyat2.csv")
veri.head(3)

                        isim cinsiyet   yas    boy  kilo       spor
0    Slvia Domnguez Fernndez        K  29.0  167.0  64.0  Basketbol
1         Usman Edu Muhammed        E  22.0  169.0  78.0     Futbol
2  Okechukwu Godson Azubuike        E  19.0  170.0  68.0     Futbol

In [3]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isim      160 non-null    object
 1   cinsiyet  160 non-null    object
 2   yas       160 non-null    float64
 3   boy       155 non-null    float64
 4   kilo      156 non-null    float64
 5   spor      160 non-null    object
dtypes: float64(3), object(3)
memory usage: 7.6+ KB

In [18]:
#sci-kit learn numpy ile çalıştığı için numpy
imputer = SimpleImputer(missing_values=np.nan,strategy="median")
boy=veri["boy"].values.reshape(-1,1)
kilo=veri["kilo"].values.reshape(-1,1)
veri["boy"]=imputer.fit_transform(boy)
veri["kilo"]=imputer.fit_transform(kilo)

In [19]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isim      160 non-null    object
 1   cinsiyet  160 non-null    object
 2   yas       160 non-null    float64
 3   boy       160 non-null    float64
 4   kilo      160 non-null    float64
 5   spor      160 non-null    object
dtypes: float64(3), object(3)
memory usage: 7.6+ KB

In [20]:
#boy verisinde aykırı değeri tespit edip silelim
sk_q1=veri["boy"].describe()["25%"]
sk_q3=veri["boy"].describe()["75%"]
sk_IQR=sk_q3-sk_q1
alt_sinir=sk_q1-1.5*sk_IQR
ust_sinir=sk_q3+1.5*sk_IQR
print("alt sınır",alt_sinir)
print("üst sınır",ust_sinir)

alt sınır 155.5
üst sınır 215.5

In [21]:
aykiri_boy=veri[(veri["boy"]<alt_sinir) | (veri["boy"]>ust_sinir)]# | bu işaret bitsel veya demek
aykiri_boy

           isim cinsiyet   yas     boy  kilo      spor
154  Wei Qiuyue        K  27.0  1820.0  65.0  Voleybol

In [22]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isim      160 non-null    object
 1   cinsiyet  160 non-null    object
 2   yas       160 non-null    float64
 3   boy       160 non-null    float64
 4   kilo      160 non-null    float64
 5   spor      160 non-null    object
dtypes: float64(3), object(3)
memory usage: 7.6+ KB

In [23]:
veri.drop(labels=aykiri_boy.index,axis=0,inplace=True)
veri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 0 to 159
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isim      159 non-null    object
 1   cinsiyet  159 non-null    object
 2   yas       159 non-null    float64
 3   boy       159 non-null    float64
 4   kilo      159 non-null    float64
 5   spor      159 non-null    object
dtypes: float64(3), object(3)
memory usage: 8.7+ KB

In [25]:
veri.drop(columns=["isim"],axis=1,inplace=True)
veri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 0 to 159
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cinsiyet  159 non-null    object
 1   yas       159 non-null    float64
 2   boy       159 non-null    float64
 3   kilo      159 non-null    float64
 4   spor      159 non-null    object
dtypes: float64(3), object(2)
memory usage: 7.5+ KB

In [26]:
veri.head()

  cinsiyet   yas    boy  kilo       spor
0        K  29.0  167.0  64.0  Basketbol
1        E  22.0  169.0  78.0     Futbol
2        E  19.0  170.0  68.0     Futbol
3        K  28.0  170.0  60.0  Basketbol
4        E  21.0  170.0  51.0     Futbol

In [28]:
le=LabelEncoder()
veri["cinsiyet"]=le.fit_transform(y=veri["cinsiyet"])
veri["spor"]=le.fit_transform(y=veri["spor"])

In [29]:
veri.head()

   cinsiyet   yas    boy  kilo  spor
0         1  29.0  167.0  64.0     0
1         0  22.0  169.0  78.0     1
2         0  19.0  170.0  68.0     1
3         1  28.0  170.0  60.0     0
4         0  21.0  170.0  51.0     1